

@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .skeleton {
    background-color: #f2f2f2;
    background-image: linear-gradient(to right, #f2f2f2 0%, #e6e6e6 20%, #f2f2f2 40%, #f2f2f2 100%);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
  