
.container {
  margin-top: 20px;
  margin-left: 60px;
  position: relative;
  width: 60px; 
  height: 180px; 
}
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px; 
    background-color: #FF0B0B;
    clip-path: polygon(0 0, 100% 0, 85% 40%, 15% 40%);
    border-bottom-left-radius: 100px;

  }
  
  .text {
    bottom:0px; 
    left: 1000%;
    font-size: 24px; 
    font-weight: bold;
    color: white;
  }
  

 