
.a-custom-button {
  background-color: #0032FF; 
  color: #FFFFFF; 
  border-radius: 32px 32px 0 0; 
  position: relative;
  font-size: 14px;
  font-weight: normal; 
  text-align: center; 
}

.a-custom-button::before,
.a-custom-button::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 20px; 
  height: 20px; 
  background-color: inherit;
  z-index: -1;
}

.a-custom-button::before {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.a-custom-button::after {
  right: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
